<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
        
        
        <link rel="stylesheet" href="assets/css/root.css">
        <link rel="stylesheet" href="assets/css/text.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="./assets/css/grid.css">

        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
        <title>Vilij Corps Language Explorer</title>
        <script src="./libs/papaparse.min.js"></script>
        <script src="./libs/isotope.pkgd.min.js"></script>
        <script type="module" src="./libs/model-viewer.min.js"></script>
    </head>
    <body>
        
      <header-component></header-component>
      <div class="header">
        <p>This is the header</p>
      </div>

                <div class="button-group" style="width: 400px; height: 50px;  margin: auto auto; padding-top: 10px;">
                    <button id="newest" data-filter=".newest">new</button>
                    <button id="show_all" data-filter="*">show all</button>
                    <button id="dwellings" data-filter=".dwellings">dwellings</button>
                    <button id="walls" data-filter=".walls">walls</button>
                    <button id="signs" data-filter=".signs">signs</button>
                    <button id="props" data-filter=".props">props</button>
                    <button id="transport" data-filter=".transport">transport</button>
                </div>

                <div id="left" style="margin: auto;">
                    <div class="grid">
                        <div class="grid-item dwellings">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="avocado">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item walls">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="duck">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item dwellings">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="boom-box">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item walls">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="avocado">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item dwellings">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="duck">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item signs">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="helmet">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item dwellings">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="avocado">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item walls">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="boom-box">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item dwellings">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="duck">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item dwellings">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="helmet">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item dwellings">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="avocado">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item walls">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="duck">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item signs">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="boom-box">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item walls">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="avocado">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item dwellings">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="duck">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item walls">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="./assets/logo/crested-crane-logo.png" alt="Avatar" style="width:240px;height:240px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h3>John Doe</h3>
                                        <p>Architect & Engineer</p>
                                        <p>We love that guy</p>
                                        <button class="3d_model" data-file="wig-blender">View 3D Model</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <model-viewer
                        id="model_viewer"
                        alt=""
                        src="./models/duck.glb"
                        tone-mapping="neutral"
                        shadow-intensity="1"
                        camera-controls
                        touch-action="pan-y"
                    ></model-viewer>
        </div>
        
        <div class="footer">
          <p>This is the footer</p>
        </div>

        <footer-component></footer-component>

        <script src="components/header.js" type="text/javascript" defer></script>
        <script src="components/footer.js" type="text/javascript" defer></script>
        <script>
        
        /* Open the sidenav */
        function openNav() {
          document.getElementById("mySidenav").style.width = "100%";
        }

        /* Close/hide the sidenav */
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }

        window.addEventListener('DOMContentLoaded',function () {

            var iso = new Isotope( '.grid', {
                itemSelector: '.grid-item',
                layoutMode: 'fitRows'
            });

            let all_btn = document.getElementById("show_all");
            all_btn.addEventListener("click", function() { 
                iso.arrange({ filter: '*' }); 
            });

            let dwellings_btn = document.getElementById("dwellings");
            dwellings_btn.addEventListener("click", function() { 
                iso.arrange({ filter: '.dwellings' });
            });

            let walls_btn = document.getElementById("walls");
            walls_btn.addEventListener("click", function() { 
                iso.arrange({ filter: '.walls' }); 
            });

            let signs_btn = document.getElementById("signs");
            signs_btn.addEventListener("click", function() { 
                iso.arrange({ filter: '.signs' }); 
            });

            function render_model(glb_file) {
              
              let model_viewer = document.getElementById("model_viewer");
              model_viewer.src = './models/' + glb_file + '.glb';
              openNav()

            }

            // select model buttons and add event listener
            // with data-file attribute referencing the
            // model file name
            const model_buttons = document.getElementsByClassName("3d_model");
            for (let i = 0; i < model_buttons.length; i++) {
                  
              model_buttons[i].addEventListener("click", function() { 

                console.log(this.getAttribute('data-file'))
                render_model(this.getAttribute('data-file'))
              
              });
            
            }
        });

        </script>
    </body>
</html>
