<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
<link href="./assets/css/style.css" rel="stylesheet" />
<meta charset=utf-8 />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<title>Images</title>
<script src="./libs/papaparse.min.js"></script>
<script src="./libs/cytoscape.min.js"></script>
<script src="./libs/cytoscape-tidytree.min.js"></script>
</head>
<body>
<div id="cy"></div>
<!-- Load application code at the end to ensure DOM is loaded -->
<script src="./data/styles.js"></script>
<script src="./data/data.js"></script>
<script src="./code/graph.js"></script>
<script src="code.js"></script>
</body>
</html>