<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="assets/css/root.css">
<link rel="stylesheet" href="assets/css/text.css">
<link rel="stylesheet" href="assets/css/main.css">
<link href="./assets/css/style.css" rel="stylesheet" />
<meta charset=utf-8 />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<title>Vilij Corps Language Explorer</title>

<script src="./libs/papaparse.min.js"></script>
<script src="./libs/cytoscape.min.js"></script>
<script src="./libs/cola.min.js"></script>
<script src="./libs/cytoscape-cola.js"></script>
<script src="./libs/elk.bundled.js"></script>
<script src="./libs/cytoscape-elk.js"></script>
<script src="./libs/klay.js"></script>
<script src="./libs/cytoscape-klay.js"></script>
<script src="./libs/cytoscape-tidytree.min.js"></script>

<script src="./libs/layout-base.js"></script>
<script src="./libs/cose-base.js"></script>
<script src="./libs/cytoscape-cose-bilkent.js"></script>
<script src="./libs/cytoscape-fcose.js"></script>
<script src="./libs/cytoscape-euler.js"></script>
<script src="./libs/dagre.js"></script>
<script src="./libs/cytoscape-dagre.js"> </script>

<script src="./libs/cytoscape-hyse.js"></script>

</head>
<body>
    <header-component></header-component>
    
    <div class="" style="display: flex; margin-top: 0px;">
    
    <!-- Sidebar -->
    <div class="" style="width: 280px; min-height: calc(100vh - 183px); margin-top: -4px; padding: 20px; border-right: 1px solid black; background-color: #f0f0f0;">
        <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Navigation:</div>
        <select id="lang_select" class="" aria-label="Select Layout" style="width: 270px; margin-bottom: 5px;">
            <option selected>Select Language</option>
        </select>
        <select id="langfam_select" class="" aria-label="Select Layout" style="width: 270px; margin-bottom: 5px;">
            <option selected>Select Language Family</option>
        </select>
        <select id="region_select" class="" aria-label="Select Layout" style="width: 270px; margin-bottom: 5px;">
            <option selected>Select World Region</option>
        </select>
        <select id="country_select" class="" aria-label="Select Layout" style="width: 270px; margin-bottom: 5px;">
            <option selected>Select Country</option>
        </select>
        <button id="reset_btn" type="button" class="" style="margin-bottom: 5px; width: 270px;">Reset to Root</button>
        <button id="revert_btn" type="button" class="" style="margin-bottom: 5px; width: 270px;">Revert to Last</button>
        <hr>
        <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Layout:</div>
        <select id="layout_select" class="" aria-label="Select Layout" style="width: 270px;">
            <option selected>Select Layout</option>
            <option value="breadthfirst">Breadthfirst</option>
            <option value="cola">Cola</option>
            <option value="cose">Cose</option>
            <option value="cose-bilkent">Cose Bilkent</option>
            <option value="fcose">fCose</option>
            <option value="concentric">Concentric</option>
            <option value="euler">Euler</option>
            <option value="force">Force</option>
            <option value="hyse">Hyse</option>
            <option value="klay">Klay</option>
            <option value="layered">Layered</option>
            <option value="mrtree">MrTree</option>
            <option value="radial">Radial</option>
            <option value="rectpacking">RectPacking</option>
            <option value="stress">Stress</option>
            <option value="tidytree">Tidytree</option>
        </select>
        <hr>
        <div class="">
          <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Details:</div>
          <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Label:</label>
          <div id="a_field" class="data_field"></div>
          <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Type:</label>
          <div id="b_field" class="data_field"></div>
          <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Size:</label>
          <div id="c_field" class="data_field"></div>
          <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Description:</label>
          <div id="d_field" class="data_field"></div>
          <div id="e_field" class="data_field"></div>
          <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Sources:</div>
          <div style="display: flex;" >
            <div class="badge">Glottolog 5.0</div>
            <div class="badge" style="margin-left: 5px;">Phoible 2.0</div>
          </div>
            <!-- 
            Glottolog 5.0
            Hammarström, Harald & Forkel, Robert & Haspelmath, Martin & Bank, Sebastian. 2024.
            Leipzig: Max Planck Institute for Evolutionary Anthropology.
            https://doi.org/10.5281/zenodo.8131084
            http://glottolog.org, Accessed on 2024-03-11.

            Phoible 2.0.1
            Steven Moran and Daniel McCloy. 2019.
            Max Planck Institute for the Science of Human Historyhttp://phoible.org
            https://phoible.org/
            -->
        </div>
    </div>

    <!-- View Canvas -->
    <div id="cy"></div>
    
    </div>

    <footer-component></footer-component>

    <script src="components/header.js" type="text/javascript" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>

<!-- Load application code at the end to ensure DOM is loaded -->
<script src="./config/styles.js"></script>
<script src="./data/graph.js"></script>
<script src="./code/layouts.js"></script>
<script src="./code/main.js"></script>
</body>
</html>