<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="assets/css/root.css">
<link rel="stylesheet" href="assets/css/text.css">
<link rel="stylesheet" href="assets/css/main.css">
<link href="./assets/css/style.css" rel="stylesheet" />
<meta charset=utf-8 />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<title>Vilij Corps Language Explorer</title>

<script src="./libs/papaparse.min.js"></script>
<script src="./libs/slimselect.min.js"></script>
<link rel="stylesheet" href="./assets/css/slimselect.css" />
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script src="./libs/graphology.min.js"></script>
<script src="./libs/graphology-library.min.js"></script>
<script src="./libs/cytoscape.min.js"></script>
<script src="./libs/layout-base.js"></script>
<script src="./libs/cose-base.js"></script>
<script src="./libs/cytoscape-cose-bilkent.js"></script>
<script src="./libs/cytoscape-fcose.js"></script>
<script src="./libs/cytoscape-euler.js"></script>
<script src="./libs/dagre.js"></script>
<script src="./libs/cytoscape-dagre.js"> </script>
<script src="./libs/cola.min.js"></script>
<script src="./libs/cytoscape-cola.js"></script>
<script src="./libs/elk.bundled.js"></script>
<script src="./libs/cytoscape-elk.js"></script>
<script src="./libs/klay.js"></script>
<script src="./libs/cytoscape-klay.js"></script>
<script src="https://unpkg.com/weaverjs@1.2.0/dist/weaver.min.js"></script>
<script src="./libs/cytoscape-spread.js"></script>
<script src="./libs/cytoscape-tidytree.min.js"></script>


<script src="./libs/cytoscape-hyse.js"></script>

</head>
<body>
    <header-component></header-component>
    
    <div class="" style="display: flex; margin-top: 0px;">
    
    <!-- Sidebar -->
    <div class="" style="width: 280px; min-height: calc(100vh - 183px); margin-top: -3px; padding: 20px; border-right: 1px solid black; background-color: #f0f0f0;">
        <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Navigation:</div>
        
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px;">
            <select id="lang_select" aria-label="Select Language" style="width: 250px; margin-bottom: 5px;"></select>
            <img id="lang_info" src="./assets/icons/info.svg" alt="Home" style="width: 18px; margin-top: 4px;">
        </div>
        
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px;">
            <select id="langfam_select" aria-label="Select Language Family" style="width: 250px; margin-bottom: 5px;"></select>
            <img id="langfamt_info" src="./assets/icons/info.svg" alt="Home" style="width: 18px; margin-top: 4px;">
        </div>
        
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px;">
            <select id="region_select" aria-label="Select Africa Region" style="width: 250px; margin-bottom: 5px;"></select>
            <img id="region_info" src="./assets/icons/info.svg" alt="Home" style="width: 18px; margin-top: 4px;">
        </div>

        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px;">
            <select id="country_select" aria-label="Select Country" style="width: 250px; margin-bottom: 5px;"></select>
            <img id="country_info" src="./assets/icons/info.svg" alt="Home" style="width: 18px; margin-top: 4px;">
        </div>

        <button id="reset_btn" type="button" class="" style="margin-bottom: 5px; width: 270px;">Reset to Root</button>
        <button id="revert_btn" type="button" class="" style="margin-bottom: 5px; width: 270px;">Revert to Last</button>
        
        <hr>
        <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Layout:</div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px;">
            <select id="layout_select" aria-label="Select Layout" style="width: 250px; margin-bottom: 5px;"></select>
            <img id="layout_info" src="./assets/icons/info.svg" alt="Home" style="width: 18px; margin-top: 4px;">
        </div>
        <hr>
        <div class="">
          <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Details:</div>
          <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Label:</label>
          <div id="a_field" class="data_field"></div>
          <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Type:</label>
          <div id="b_field" class="data_field"></div>
          <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Size:</label>
          <div id="c_field" class="data_field"></div>
          <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Description:</label>
          <div id="d_field" class="data_field"></div>
          <div id="e_field" class="data_field"></div>
          <hr>

          <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Sources:</div>
          <div style="display: flex;" >
            <div id="glottolog" class="badge">Glottolog 5.0</div>
            <div id="phoible" class="badge" style="margin-left: 5px;">Phoible 2.0</div>
          </div>
          <hr>
            <!-- 
            Glottolog 5.0
            Hammarström, Harald & Forkel, Robert & Haspelmath, Martin & Bank, Sebastian. 2024.
            Leipzig: Max Planck Institute for Evolutionary Anthropology.
            https://doi.org/10.5281/zenodo.8131084
            http://glottolog.org, Accessed on 2024-03-11.

            Phoible 2.0.1
            Steven Moran and Daniel McCloy. 2019.
            Max Planck Institute for the Science of Human Historyhttp://phoible.org
            https://phoible.org/
            -->
            <div class="title" style="margin-bottom: 10px; font-size: 16px; font-weight: 600;">Data:</div>
            
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
                <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Total number of nodes:</label>
                <div id="tnn" class=""></div>
            </div>

            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
                <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">Total number of edges:</label>
                <div id="tne" class=""></div>
            </div>
            
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
                <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">View number of nodes:</label>
                <div id="vnn" class=""></div>
            </div>
            
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
                <label class="field_label" style="font-size: 14px; margin-bottom: 10px;">View number of edges:</label>
                <div id="vne" class=""></div>
            </div>

            <hr>
        </div>
    </div>

    <!-- View Canvas -->
    <div id="cy"></div>
    
    </div>

    <footer-component></footer-component>

    <script src="components/header.js" type="text/javascript" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>
    
    <script src="./data/layout_options.js"></script>

    <script src="./data/languages.js"></script>
    <script src="./data/language_family.js"></script>
    <script src="./data/regions.js"></script>
    <script src="./data/countries.js"></script>
    
    <script src="./config/styles.js"></script>
    <script src="./code/layouts.js"></script>
    <script src="./code/main.js"></script>
</body>
</html>