<!DOCTYPE HTML>
<html style="background: #F0F0F0;" lang="en-us">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">
<meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
<title>Vilij Corps</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<link href="./assets/css/main.css" rel="stylesheet">
<link href="./assets/css/translator.css" rel="stylesheet">

<script src="./libs/papaparse/papaparse.min.js"></script>
<script src="./libs/voca/voca.min.js"></script>
<script src="./libs/compromise/compromise.js"></script>
<script src="./libs/rita/rita.min.js"></script>
<script src="./libs/minisearch/minisearch.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/typo-js@1.2.4/typo.min.js"></script>

<script src="./code/similarity/bag.js"></script>
<script src="./code/similarity/damerau-levenshtein.js"></script>
<script src="./code/similarity/hamming.js"></script>
<script src="./code/similarity/jaccard.js"></script>
<script src="./code/similarity/levenshtein.js"></script>
<script src="./code/similarity/overlap.js"></script>

<script src="./code/stemmers/porter.js"></script>

<script src="./libs/sentence-similarity/clone.js"></script>
<script src="./libs/sentence-similarity/SentenceSimilarity.js"></script>

</head>
<body>

<img src="./assets/logo/vilijcorps.svg" alt="Crested Crane" class="logo">
<img src="./assets/logo/lindah.svg" alt="Crested Crane" class="logo">

<div style="display: block;">
    <textarea id="eng" name="eng" class="page" style="resize: none;">The 10 whispering baby was in a canoe in great danger near the prison where banana pancakes were served near the stream at the curve. This is a toe.</textarea>
    <div style="display: flex; margin: 10px auto; width: fit-content; vertical-align: middle; line-height: 20px;">
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle2"> Include Fuzzy Matches</label><br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> Show Pictogram</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> Show Parts of Speech</label><br>
    </div>
    <div class="translate_btn">
        <button id="run_btn" type="button" style="width: 270px; background-color: black; color: white;">Run Translation</button>
        <br><i class="arrow down"></i>
    </div>
    <div id="translation_pg" class="page"></div>
    <div class="translate_btn"><i class="arrow up"></i><br>Make as Flashcard Deck</div>
</div>

<footer-component></footer-component>

<!-- UTILITIES -->
<script src="components/footer.js" type="text/javascript" defer></script>
<script type="text/javascript" src="./dictionary/dic.js"></script>
<script type="text/javascript" src="./code/globals.js"></script>
<script type="text/javascript" src="./code/render_views.js"></script>
<script type="text/javascript" src="./code/process_text.js"></script>
<script type="text/javascript" src="main.js"></script>

<!--
<script type="text/javascript" src="./dictionary/make_dictionary.js"></script>
-->

</body>
</html>