<!DOCTYPE HTML>
<html style="background: #F0F0F0;" lang="en-us">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">
<meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
<title>Vilij Corps</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<link href="./assets/css/main.css" rel="stylesheet">
<link href="./assets/css/translator.css" rel="stylesheet">

<script src="./libs/papaparse/papaparse.min.js"></script>
<script src="./libs/voca/voca.min.js"></script>
<script src="./libs/compromise/compromise.js"></script>
<script src="./libs/rita/rita.min.js"></script>
<script src="./libs/minisearch/minisearch.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/typo-js@1.2.4/typo.min.js"></script>

<script src="./code/similarity/bag.js"></script>
<script src="./code/similarity/damerau-levenshtein.js"></script>
<script src="./code/similarity/hamming.js"></script>
<script src="./code/similarity/jaccard.js"></script>
<script src="./code/similarity/levenshtein.js"></script>
<script src="./code/similarity/overlap.js"></script>

<script src="./code/stemmers/porter.js"></script>

<script src="./libs/sentence-similarity/clone.js"></script>
<script src="./libs/sentence-similarity/SentenceSimilarity.js"></script>

</head>
<body>

<img src="./assets/logo/vilijcorps.svg" alt="Crested Crane" class="logo">
<img src="./assets/logo/lindah.svg" alt="Crested Crane" class="logo">

<div style="display: block;">
    <textarea id="eng" name="eng" class="page" style="resize: none;">The 10 whispering baby was in a canoe in great danger near the prison where bananas pancakes were served near the stream at the curve. This is a toe.</textarea>
    <div class="translate_btn">
        <i class="arrow down"></i><br>
        <label>Select Language</label><br>
        <select name="cars" id="cars">
            <option value="volvo">Acholi</option>
            <option value="saab">Luganda</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Swahili</option>
        </select>
    </div>
    <div style="display: flex; margin: 10px auto; width: fit-content; vertical-align: middle; line-height: 20px;">
        <input id="fuzzy" type="checkbox" id="fuzzy" name="fuzzy" value="fuzzy" checked>
        <label for="fuzzy"> Include Fuzzy Matches</label><br>
        <input id="pos" type="checkbox" id="pos" name="pos" value="pos" checked>
        <label for="pos"> Show Parts of Speech</label><br>
    </div>
    <div class="translate_btn">
        <button id="run_btn" type="button" style="width: 270px; background-color: black; color: white;">Run Translation</button>
        <br><i class="arrow down"></i>
    </div>
    <div id="translation_pg" class="page"></div>
    <div class="translate_btn">
        <i class="arrow down"></i>
        <br><button id="run_flashcard_btn" type="button" style="width: 270px; background-color: black; color: white;">Make Flashcards</button>
        <br><i class="arrow down"></i>
    </div>
    <div id="flashcard_pg" class="page"></div>
</div>

<footer-component></footer-component>

<!-- APP -->
<script type="text/javascript" src="components/footer.js" defer></script>
<script type="text/javascript" src="./dictionary/dic.js"></script>
<script type="text/javascript" src="./code/0_globals.js"></script>
<script type="text/javascript" src="./code/3_render_views.js"></script>
<script type="text/javascript" src="./code/1_process_text.js"></script>
<script type="text/javascript" src="./code/2_translate_text.js"></script>

<!--
<script type="text/javascript" src="./dictionary/make_dictionary.js"></script>
-->

</body>
</html>