/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

/*-- scss:rules --*/

main {
    margin-left: 25px;
}

.sidebar {
    padding-left: 40px;
    padding-right: 10px;
}

li p {
    margin-bottom: 0;
}

td {
    min-width: 250px;;
}